section
    h2 Websockets are great, huh?
    p Think of all the cool stuff we can build with this great realtime, push technology!
    ul
        li.fragment Multiplayer games!
        li.fragment Realtime Analytics!
        li.fragment Systems monitoring!
        li.fragment Back office tools!
        li.fragment Chat &amp; messaging!