section
    h2 Why Socket.IO?
    p It uses the most responsive transport available to the browser
    ul
        li.fragment Websockets
        li.fragment Flash Sockets
        li.fragment AJAX Long Polling
        li.fragment JSONP Polling