section
    h2 Why Socket.IO?
    ul
        li Custom protocol to support keep-alives and disconnection detection
        li Room/channel support - it's trivial to write a chat server
        li Authorisation/Authentication support
        li Pluggable session support 
        li Redis session store to help with clustering
    