section
    h2 Why node.js?
    ul
        li Simple non-blocking I/O
        li Socket.IO reference spec is written for node.js
        li Server &amp; client written in the same language
        li Loads of great 3rd party modules like dnode
        li Coffeescript so your JS doesn't suck
    