section
    h1 Demo
    a.fragment(href='http://bit.ly/votefordemo') bit.ly/votefordemo
    div.fragment#vote
        div.yes Yes!
            div.count 0
            
        div.no No!
            div.count 0